.jumbotron {
    background-color: transparent; 
    color: var(--h1-color);
    position: relative;
    max-width: 800px;
    margin-left: 30px;
    margin-right: 30px;
}

.topProjectBlurb {
    margin-left: 15px;
}

.innerProjectBlurb {
    margin-top: 60px;
    margin-left: 15px;
}

.btn {
    border-radius: 8px;
}