.jumbotron {
    background-color: transparent; 
    color: var(--h1-color);
    position: relative;
    max-width: 800px;
    margin-left: 30px;
    margin-right: 30px;
}

.pageContentContainer {
    margin-left: 20px;
    margin-right: 20px;
}

.projectBlurb {
    margin-bottom: 50px;
}

.btn {
    border-radius: 8px;
}